<div class="well">
<h1 class="text-center text-success">Want To Help ?</h1>
<h2 class="text-right text-info"> We would love to have you on board !</h2>
  <div class="well">
  <span class="header"><h3>Source Code</h3></span>
  <p>We use git for version control the source code for this project is available at
    <a href="https://git-wip-us.apache.org/repos/asf/incubator-concerted.git">git-wip.apache.org</a>
  </p>
  <p>
  Missing github ? Don't fret yet we also have a
  <a href="https://github.com/apache/incubator-concerted">mirrior repository on Github.</a>
  </p>
  </div>
  <div class="well">
  <h3>Report and Fix Issues</h3>
  <p>We use JIRA for issue tracking.Found a bug ? Fix it.
    <a href="https://issues.apache.org/jira/browse/CONCERTED/">JIRA Concerted</a>
  </p>
</div>
  <div class="well">
    <h3>Wiki</h3>
  <p>
    Wiki (Confluence) for this Project is Available at
  <a href="https://cwiki.apache.org/confluence/display/CONCERTED/Apache+Concerted+Home">Concerted Confluence.</a>
  </p>
  </div>

</div>
